//- TODO: MAKE FOOTER STICK TO THE BOTTOM OF PAGE!!!

footer(class="bg-light")
    div(class="container-fluid d-flex flex-column")
        div(class="row" style="height: 100%;")
            div(class="col-sm d-flex align-items-center")
                ul(class="ul-footer list-unstyled list-inline text-center d-flex flex-column")
                    li(class="list-inline-item") gm.castor@gmail.com
                    li(class="list-inline-item") 21 98038-0848
            div(class="col-sm d-flex align-items-center")
                ul(class="ul-footer list-unstyled list-inline text-center")
                    li(class="list-inline-item")
                        a(class="social btn-floating btn-fb mx-1")
                            i(class="fab fa-lg fa-facebook-f")
                    li(class="list-inline-item")
                        a(class="social btn-floating btn-fb mx-1")
                            i(class="fab fa-lg fa-instagram")
                    li(class="list-inline-item")
                        a(class="social btn-floating btn-tw mx-1")
                            i(class="fab fa-lg fa-twitter")
                    li(class="list-inline-item")
                        a(class="social btn-floating btn-fb mx-1")
                            i(class="fab fa-lg fa-pinterest")
footer(class="copyright-footer")
    div(class="container-fluid d-flex flex-column")
        div(class="row" style="height: 100%;")
            div(class="copyright-footer-row col-sm")
                div(class="footer-copyright text-center py-3") Todos os direitos reservados
            