html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100%;
}

@media (min-width: 576px) {
  body {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
  }
}

div#main {
  height: 100%;
  height: -webkit-fill-available;
}

a {
  color: #00b7ff;
}

section.section-main-content {
  padding-top: 30px;
  padding-bottom: 30px;
  height: fit-content;
}

section.section-footer {
  margin-bottom: 0px;
  height: fit-content;
}

.col-sm {
  margin-bottom: 15px;
  margin-top: 15px;
}

img.photos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 150%;
  min-height: 150px;
  min-width: 300px;
  height: 100%;
  width: auto;
  /* z-index: -1; delete it */
}

img.photos:hover,
img.photos:focus {
  cursor: pointer;
  opacity: 0.5;
}

.img-overlay {
  width: 100;
  height: 100%;
  display: none;
  opacity: 1;
}

/* 
  .img-overlay:hover,
  .img-overlay:focus {
    opacity: .5;
    background-color: #656565;
  } */

span > .img-overlay-title {
  z-index: 1;
}

/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.85);
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #ccc;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
}

.modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 25px;
  height: 150px;
  font-size: 16px;
  font-weight: bold;
}
 */
