extends ../layout

block content
    div.container
        each line in photographs
            div.row
                each photograph in line
                    div(class='col-sm')
                        include image.pug
        //- TODO: expose this globally through webpack
        script(src='/javascripts/portfolio.js')


